<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Sushank Kumar</mat-card-title>
      <mat-card-subtitle>ॐ</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../assets/images/lord-shiva.jpg" alt="Lord Shiva">
    <mat-card-content>
      <p>
        ॐ असतो मा सद्गमय । <br>
        तमसो मा ज्योतिर्गमय । <br>
        मृत्योर्मा अमृतं गमय । <br>
        ॐ शान्तिः शान्तिः शान्तिः ॥ <br> <br>
        Om Asato Maa Sad-Gamaya | <br>
        Tamaso Maa Jyotir-Gamaya | <br>
        Mrtyor-Maa Amrtam Gamaya | <br>
        Om Shaantih Shaantih Shaantih ||<br> <br>
        Lead me from Untruth to Truth | <br>
        Lead me from Dark to Light | <br>
        Lead me from Death to Immortality | <br>
        For me and the Universe <br>
        Let there be Peace, Peace, Peace ||
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button></button>
      <button mat-button></button>
      <button mat-button></button>
    </mat-card-actions>
  </mat-card>
</div>